{{!-- styling using font awsome --}}

{{!-- icon  --}}
<h3><i class="fas fa-book-reader"></i>StoryBooks </h3>


<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>

{{!-- create a border  --}}
<div class="divider"></div>


{{!-- new section --}}
<div class="section">
    {{!-- google login link --}}
    {{!-- first create a button --}}
    <a href="/auth/google" class="btn red darken-1">
        {{!-- create icon using font awesome --}}
        <i class="fab fa-google left"></i> Log In with Google
    </a>

</div>